APP_NAME=beeSure LVA
APP_IDENTIFIER=io.fleetbase.navigator
APP_LINK_PREFIX=flbnavigator
FLEETBASE_HOST=https://api.fleetbase.io
FLEETBASE_KEY=
GOOGLE_MAPS_API_KEY=
DEFAULT_COORDINATES=1.369,103.8864
TRAINING_MODULES_API_URL=
TRAINING_QUIZ_API_URL=
TRAINING_STATUS_API_URL=
TRAINING_QUIZ_SUBMIT_API_URL=
PRESIGN_API_URL=
VALIDATION_COMPLETE_API_URL=
